@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark light;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

.link-underline {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: linear-gradient(transparent, transparent), linear-gradient(to right, #d946ef, #ec4899);
    transition: width 0.25s ease;
  }

  &:hover:after {
    width: 100%;
    left: 0;
    background: linear-gradient(transparent, transparent), linear-gradient(to right, #d946ef, #ec4899);
  }
}

.special-underline {
  @apply bg-gradient-to-r from-primary-color-500 to-primary-color-500 bg-no-repeat pb-0.5 font-normal [background-position:0_100%] [background-size:100%_0.2em] hover:text-white hover:[background-size:100%_100%] focus:[background-size:100%_100%] motion-safe:transition-all motion-safe:duration-300 dark:from-primary-color-dark-500 dark:to-primary-color-dark-500 dark:hover:text-white;
}

.special-underline-new {
  @apply bg-gradient-to-r from-primary-color-500 to-primary-color-500 bg-no-repeat pb-1 font-normal [background-position:0_100%] [background-size:100%_0.1em] hover:text-white hover:[background-size:100%_100%] focus:[background-size:100%_100%] motion-safe:transition-all motion-safe:duration-300 dark:from-primary-color-dark-500 dark:to-primary-color-dark-500 dark:hover:text-white;
}